#create-post-container {
  position: fixed;
  height: 40vh;
  width: 30vw;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1vh 2vw;
  margin-top: 3vh;
  z-index: 10;
  background-image: radial-gradient(
    circle at bottom left,
    color-mix(in srgb, var(--darkBlue) 90%, transparent),
    color-mix(in srgb, var(--blackish) 97%, transparent) 80%);
  border-radius: 3em;
  outline: 2px solid #121212;
  opacity: 1;
  transition: 0.5s;
}
.hide-menu { 
  height: 0px !important;
  opacity: 0 !important;
}

#post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  width: 26vw;
}

#create-post-container textarea {
  all: unset;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #00000055;
  border-radius: 1em;
  max-width: calc(100% - 2em);
  width: calc(100% - 2em);
  height: calc(100% - 10vh - 4em);
  resize: none;
  overflow-x: hidden;
  overflow-y: scroll !important;
  color: snow;
  padding: 1em;
  padding-bottom: 3em;
  text-wrap: normal;
}
#create-post-container textarea::placeholder { font-size: large; }

.post-menu-button {
  border-radius: 99999999px;
  width: 17%;
  height: auto;
  font-size: 1.5vh;
  margin-top: 3vh; 
}

#char-counter {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;

  height: 1em;
  font-size: 1em;
  position: absolute;
  right: calc(2vw + 1em);
  bottom: 3em;
}