:root {
  --darkBlackish: #0f131a;
  --blackish: #191d28;
  --darkBlue: #213555;
  --pickledBlueWood: #2c3b50;
  --mediumBlue: #455682;
  --moderateBlue: #3e5879;
  --eastBay: #3e5879;
  --attentionBlue: #529aff;
  --darkCyan: #4c585b;
  --darkGrayBlue: #7e99a3;
  --powderBlue: #9eb3c2;
  --grayBlue: #a5bfcc;
  --whiteText: snow;


  --lightBackground: #7c868a;
  --lightSurface: #a9cad4;
  --lightGray: #e2e8f0;
  --cloudGray: #d1d5db;
  --coolWhite: #ffffff;
  --softBlueGray: #cbd5e1;
  --dustyBlue: #a0aec0;
  --steelBlue: #718096;
  --textBlue: #334155;
  --primaryBlue: #3b82f6;
  --tealAccent: #38b2ac;
  --headingText: #1e293b;
  --bodyText: #334155;



  --attentionRed: #ff4d4d;
  --attentionGreen: #00cc66;
  





  --background: var(--blackish);
  --secondaryBackground: var(--darkblackish);
  --primaryColor: var(--darkBlue);
  --secondaryColor: var(--mediumBlue);
  --tertiaryColor: var(--moderateBlue);
  --quaternaryColor: var(--darkCyan);
  --quinaryColor: var(--darkGrayBlue);
  --senaryColor: var(--powderBlue);
  --septenaryColor: var(--grayBlue);
  --octonaryColor: var(--pickledBlueWood);
  --nonaryColor: var(--eastBay);
  --inputBGColor: var(--whiteText);

  --ctaColor: var(--attentionBlue);
  --textColor: var(--whiteText);
}

@font-face {
  font-family: "GROBOLD";
  src: url("/static/Assets/Fonts/GROBOLD.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body nav {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-end;
  padding-top: 3vh;
}

.nav_button {
  width: 40%;
  height: 6vh;
  background: none;
  border: none;
  font-size: calc(7vh * 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5em;
  color: var(--textColor);
}

.nav_button i {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

#account_button {
  z-index: 3;
}

#account_button img {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  margin-left: 2vh;
}

#account_button span {
  opacity: 0;
  font-size: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 0%;
  transform: translateX(-50%);
}

#account_button span p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
  text-align: start;
}

#account_button:hover, #account_button.active {
  border-radius: 99999999px;
  transition: 0.2s;
}

#account_button:hover span,
#account_button.active span {
  opacity: 1;
  color: var(--septenaryColor);
  font-size: 70%;
  transition: 0.2s;
  width: 65%;
  transform: none;
}

#account_button:not(:hover) span 
#account_button.active span {
  transition: 0.2s;
}

#account_button:hover img,
#account_button.active img {
  width: 4.2vh;
  height: 4.2vh;
  transition: 0.2s;
  margin-left: 0.9vh;
  margin-right: 0.5vw;
}

#account_button:not(:hover) img,
#account_button.active img {
  transition: 0.2s;
}

.account_button_actions {
  all: unset;
  opacity: 0;
  position: absolute;
  width: 10vw;
  height: 3vh;
  transform: translate(-1vw, 3vh);
  background-color: var(--primaryColor);
  color: var(--textColor);
  font-size: 1.5vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  transition: 0.2s;
  z-index: -5;
  position: absolute;
}

.account_button_actions i { margin: 0vh 0.9vh; }

.account_button_actions:hover {
  background-color: var(--ctaColor);
  outline: 1px solid var(--textColor);
  transition: 0.5s;
}
.active ~ .account_button_actions {
  transform: translate(-1vw, 6vh);
  opacity: 1;
  z-index: 5;
}

#logout_menu_button { border-radius: 0 0 99999999999px 99999999999px; }

#account_menu_button:hover ~ #logout_menu_button { border-top: 1px solid var(--textColor); }
.active ~ #logout_menu_button { transform: translate(-1vw, 9vh); }
.active ~ #account_menu_button > * { transform: translateY(-1vw, 6vh); }
.active ~ #account_menu_button {
  height: 4vh;
  transform: translate(-1vw, 5vh);
  z-index: 1;
}

#settings_button i {
  height: unset;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#settings_button:hover i {
  animation: cogwheelAnimation 2.5s linear infinite;
}

#new_post_button {
  background-color: var(--primaryColor);
  color: var(--textColor);
  font-size: calc(7vh * 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border: none;
  transform: scale(0.8);
  margin-top: 0.8em;
  margin-right: 4%;
  border-radius: 999999px;
}

#new_post_button:hover {
  background-color: var(--ctaColor);
  transition: 0.5s;
}

#scroll_up_button {
  position: absolute;
  width: 6vh;
  border-radius: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

#scroll_up_button .bi.bi-arrow-up-circle {
  padding: 0;
  margin: 0;
  font-size: calc(6vh - 3px);
}

#scroll_up_button:hover i {
  color: var(--ctaColor);
  transition: 0.5s;
}

#scroll_up_button:not(:hover) i {
  transition: 0.5s;
}

body nav button:hover:not(#scroll_up_button):not(#new_post_button),
#account_button.active {
  background-color: var(--primaryColor);
  transition: 0.5s;
}

body nav button:not(:hover) {
  transition: 0.5s;
}

@keyframes cogwheelAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
