div.input-container{
  width: 80%;
  display: flex;
  flex-direction: column;
}

main h2 {
  text-align: center;
  margin-top: 5vh;
}

form {
  padding-top: 5vh;
  padding-left: 2vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.input-container > input {
  height: 4vh;
  width: 100%;
  padding: 10px;
  margin: 2px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input.save-button {
  align-self: center;
  transform: translateX(-2vw);
  text-transform: capitalize;
  margin-top: 3vh;
}

.show-password-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 2vw;
  height: 2vh;
  transform: translateY(-1vh);
}
.show-password-container label {
  height: 100%;
  width: 20vw;
  margin-left: 0.4vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input-container textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 15vh;
  max-height: 15vh;
  resize: none;
  overflow-y: scroll !important;
  color: black;
}

#register-link {
  /* text-align: center; */
  align-self: center;
  transform: translate(-2vw, -1vh);
  color: snow;
  margin-top: 2vh;
}

#banner_color_label { margin-top: 22px; }

#pfp-container > input {
  all: unset;
  padding: 10px;
  margin: 2px 0 22px 0;
  display: inline-block;
}

#pfp-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#pfp-input {
  height: 10vh !important;
  width: 10vh !important;
  opacity: 0 !important;
}

#pfp-preview {
  position: absolute;
  height: 10vh;
  width: 10vh;
  left: 10px;
  bottom: 32px;
  border: 2px solid snow;
  border-radius: 50%;
}