.sidebar {
 display: flex;
 flex-direction: column;
}

.search_bar_container {
    width: 60%;
    height: 5vh;
    margin-top: 5%;
    margin-left: 8%;
    background: #2c3b50;
    opacity: 0.8;
    padding: 3px 1rem !important;
    border-radius: 0.5em;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
}
.search_bar_container.wide_search_bar { width: 84%; }

.search_bar_icon {
    color: #3e5879;
    font-size: 1.25rem !important;
}

.search_bar {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    padding-left: 0.8rem !important; /* Reduced padding */
    color: #3e5879;
    line-height: 100%;
    font: normal 1.2rem sans-serif !important;
}

.search_bar_container:hover {
  outline: 3px solid #3e5879;
}

.search_bar_container:hover .search_bar_icon {
  color: #a7b7cb;
}

.search_bar::placeholder {
  color: #3e5879;
  font: normal 1.2rem sans-serif !important;
}

.search_bar:focus {
  outline: none;
}

.search_bar_container:focus-within {
  outline: 3px solid var(--attentionBlue);
}

.search_bar_container:focus-within .search_bar_icon {
  color: var(--attentionBlue);
}

hr {
  height: 1px;
  margin-top: 3vh;
  color: var(--darkGrayBlue);
  background-color: var(--darkGrayBlue);
  border-color: var(--darkGrayBlue);
}

.sidebar a {
  margin-left: 1vw;
  width: max-content;
  color: var(--darkGrayBlue);
}
.sidebar a:hover {
  color: var(--attentionBlue);
}
.sidebar nav a {
  margin: 0;
}

.sidebar nav {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 2vw;
}