.sidebar {
 display: flex;
 flex-direction: column;
}

.search_bar_container {
  width: 60%;
  height: 5vh;
  margin-top: 5%;
  margin-left: 8%;
  background: #2c3b50;
  opacity: 0.8;
  padding: 3px;
  border-radius: 0.5em;
  margin-bottom: 3vh;
}

.search_bar_container:hover {
  outline: 3px solid #3e5879;
}

.search_bar_container:hover .search_bar_icon {
  color: #a7b7cb;
}

.search_bar_icon {
  position: absolute;
  color: #3e5879;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.search_bar {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  padding-left: 2.3rem;
  color: #3e5879;
  font: normal 1.2rem sans-serif;
}

.search_bar::placeholder {
  color: #3e5879;
  font: normal 1.2rem sans-serif;
}

.search_bar:focus {
  outline: none;
}

.search_bar_container:focus-within {
  outline: 3px solid var(--attentionBlue);
}

.search_bar_container:focus-within .search_bar_icon {
  color: var(--attentionBlue);
}

hr {
  margin-top: 3vh;
  /* margin-bottom: 1vh; */
}

.sidebar a {
  margin-left: 1vw;
  color: var(--darkBlue);
}
.sidebar a:hover {
  color: var(--attentionBlue);
}
.sidebar nav a {
  margin: 0;
}

.sidebar nav {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 2vw;
}