<link
  rel="preload"
  href="{{ url_for('static', filename='createpostpage.css') }}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<section id="create-post-container" class="hide-menu">
  <div id="post-header">
    <button class="btn btn-primary post-menu-button" onclick="toggleCreatePost()">Cancel</button>
    <h1>Create Post</h1>
    <button class="btn btn-success post-menu-button" onclick="createPost()">Post</button>
  </div>
  <textarea
    id="content-area"
    name="content"
    class="form-input"
    maxlength="1000"
    placeholder="What's on your mind?"
    cols="60"
    rows="15"
    wrap="hard"
    required
  ></textarea>
  <p id="char-counter">0</p>
</section>