<main>
  <div id="header_container">
<!--Header with title, logo & hashtag icon -->
    {% include "header.html" %}
    <nav>
      <button class="header_nav_btn active_page">
        Discover
      </button>
      <button class="header_nav_btn">
        Following
      </button>
    </nav>
  </div>
  <section id="main_post_section">
    <div
      id="posts_loading_spinner"
      class="loading_spinner_container"
    >
      <span class="loading_spinner center"></span>
    </div>
  </section>
</main>