<nav id="main-nav">
  <button class="nav_button" id="account_button" title="Log out or switch from account." onclick="showLogout()">
    <img
      src="{{ pfp }}"
      alt="The profile picture of your account."
    />
    <span id="account_button_text">
      <b>{{ displayName }}</b>
      <p>@{{ accountName }}</p>
    </span>
    <button class="account_button_actions" id="account_menu_button" title="Go to your profile." onclick="goToUserPage()">
      <i class="bi bi-person"></i>
      Profile
    </button>
    <button class="account_button_actions" id="logout_menu_button" title="Log out of your account." onclick="logout()">
      <i class="bi bi-box-arrow-right"></i>
      Logout
    </button>
  </button>
  <button class="nav_button" id="home_button" title="Go to homepage." onclick="goToPage('/')">
    {% if activeID==0 %}
      <i class="bi bi-house-door-fill"></i>
    {% else %}
      <i class="bi bi-house-door"></i>
    {% endif %}
    <p>Home</p>
  </button>
  <button class="nav_button" id="search_button" title="Go to search." onclick="goToPage('/search')">
    {% if activeID==1 %}
      <i class="bi bi-search-heart-fill"></i>
    {% else %}
      <i class="bi bi-search"></i>
    {% endif %}
    <p>Search</p>
  </button>
  <!-- <button
    class="nav_button"
    id="notifications_button"
    title="Go to notifications."
    onclick="goToPage('/notifications')"
  >
    {% if activeID==2 %}
      <i class="bi bi-bell-fill"></i>
    {% else %}
      <i class="bi bi-bell"></i>
    {% endif %}
    <p>Notifications</p>
  </button>
  <button class="nav_button" id="messages_button" title="Go to messages." onclick="goToPage('/messages')">
    {% if activeID==3 %}
      <i class="bi bi-chat-dots-fill"></i>
    {% else %}
      <i class="bi bi-chat-dots"></i>
    {% endif %}
    <p>Chat</p>
  </button>
  <button class="nav_button" id="feeds_button" title="Go to your different feeds." onclick="goToPage('/feeds')">
    {% if activeID==4 %}
    <i class="bi bi-layers-fill" style="font-size: 2vh; margin-left: 0.6vw !important;"></i>
    {% else %}
    <i class="bi bi-hash" style="font-size: 3vh; margin-left: 0.1vw !important;"></i>
    {% endif %}
    <p>Feeds</p>
  </button>
  <button class="nav_button" id="lists_button" title="Go to lists." onclick="goToPage('/lists')">
    {% if activeID==5 %}
      <i class="bi bi-list-check"></i>
    {% else %}
      <i class="bi bi-list-ul"></i>
    {% endif %}
    <p>Lists</p>
  </button> -->
  </button>
  <button class="nav_button" id="profile_button" title="Go to profile." onclick="goToPage('/profile')">
    {% if activeID==6 %}
      <i class="bi bi-person-fill-gear"></i>
    {% else %}
      <i class="bi bi-person-circle"></i>
    {% endif %}
    <p>Profile</p>
  </button>
  <button class="nav_button" id="settings_button" title="Go to settings." onclick="goToPage('/settings')">
    {% if activeID==7 %}
      <i class="bi bi-gear-fill"></i>
    {% else %}
      <i class="bi bi-gear"></i>
    {% endif %}
    <p>Settings</p>
  </button>
  <button class="nav_button" id="feedback_button" title="Send feedback to the developers" onclick="goToPage('/feedback')">
    {% if activeID==2 %}
      <i class="bi bi-pencil-fill"></i>
    {% else %}
      <i class="bi bi-pencil"></i>
    {% endif %}
    <p>Feedback</p>
  </button>
  <button class="nav_button" id="privacy_button" title="Read our privacy policy (in Russian)" onclick="goToPage('/privacy')">
    {% if activeID==3 %}
      <i class="bi bi-shield-lock-fill"></i>
    {% else %}
      <i class="bi bi-shield-lock"></i>
    {% endif %}
    <p>Privacy</p>
  </button>
  <button class="nav_button" id="terms_button" title="Read our terms of service" onclick="goToPage('/terms')">
    {% if activeID==4 %}
      <i class="bi bi-file-earmark-font-fill"></i>
    {% else %}
      <i class="bi bi-file-earmark-font"></i>
    {% endif %}
    <p>ToS</p>
  </button>
  <button
    class="nav_button"
    id="new_post_button"
    title="Create a new post."
    onclick="
      post_dialog.showModal();
      document.getElementById('post_dialog').classList.remove('closed_dialog');"
  >
    <i class="bi bi-pencil-square"></i>
    <b>New Post</b>
  </button>
  <button class="nav_button" id="scroll_up_button" title="Go to top of the page.">
    <i id="scroll_up_icon" class="bi bi-arrow-up-circle"></i>
  </button>
</nav>