 <div class="post_container" onclick="goToPage('/posts/view/{{ post.postID }}');">
  <img
    src="{{ post.pfp }}"
    alt="Profile picture of the user."
  />
  <div>
    <span>
      <h4 class="post_display_name">
        <a href="/users/@{{ post.accountName }}">{{ post.displayName }}</a>
      </h4>
      <p class="post_account_name">
        <a href="/users/@{{ post.accountName }}">@{{ post.accountName }}</a>
      </p>
      <p class="post_age">⦁ {{ post.age }}</p>
    </span>
    <pre cols="75">{{ post.content }}</pre>
    <div class="action_buttons_container">
      <button
        onclick="
          let dialog = document.getElementById('comment_dialog');
          dialog.showModal();
          dialog.classList.replace('closed_dialog', 'parentID={{ post.postID }}');
          event.stopPropagation();
        "
        id="comment_button_{{ post.postID }}"
      >
        <i class="bi bi-chat-left"></i>
        {{ post.commentAmount }}
      </button>
      <button
        onclick="sharePost('{{ post.accountName }}', '{{ post.postID }}'); event.stopPropagation();"
        title="Copy the link to this post to your clipboard."
        class="share_button"
        id="share_button_{{ post.postID }}"
      >
        <i class="bi bi-share"></i>
        {{ post.sharedAmount }}
      </button>
      <button
        id="like_button_{{ post.postID }}"
        onclick="likePost('{{ post.postID }}'); event.stopPropagation();"
      >
        {% if post.liked %}
        <i class="bi bi-heart-fill" id="like_icon_{{ post.postID }}"></i>
        {% else %}
        <i class="bi bi-heart" id="like_icon_{{ post.postID }}"></i>
        {% endif %}
        <p id="like_amount_{{ post.postID }}">{{ post.likeAmount }}</p>
      </button>
    </div>
  </div>
</div>
