<!DOCTYPE html>
<html>
  <body>
    <div class="sidebar">
      <div class="search_bar_container">
        <i class="bi bi-search search_bar_icon"></i>
        <input type="text" class="search_bar" placeholder="Search..." />
      </div>
      <a href="http://localhost:5500/">Discover</a>
      <a href="http://localhost:5500/">Following</a>
      <hr />
      <nav >
        <a href="http://localhost:5500/feedback">Feedback</a>
        <b>・</b>
        <a href="http://localhost:5500/privacy">Privacy</a>
        <b>・</b>
        <a href="http://localhost:5500/terms">ToS</a>
        <b>・</b>
        <a href="http://localhost:5500/help">Help</a>
      </nav>
    </div>
  </body>
</html>
