    <div class="sidebar">
      <!-- <div class="search_bar_container">
        <i class="bi bi-search search_bar_icon"></i>
        <input type="text" class="search_bar" placeholder="Search..." />
      </div> -->
      <span style="margin-bottom: 5vh;"></span>
      <a href="/">Discover</a>
      <a href="?following=true">Following</a>
      <!-- <hr /> -->
      <nav>
        <a href="/feedback">Feedback</a>
        <b>・</b>
        <a href="/privacy">Privacy</a>
        <b>・</b>
        <a href="/terms">ToS</a>
        <b>・</b>
        <a href="/help">Help</a>
      </nav>
    </div>
  </body>
</html>
