<!DOCTYPE html>
<html>
  <body>
    <div>
      <div class="search_bar_container">
        <i class="bi bi-search search_bar_icon"></i>
        <input type="text" class="search_bar" placeholder="Search..." />
      </div>
      <a href="javascript:void(0);" onclick="">Discover</a>
      <a href="javascript:void(0);" onclick="">Following</a>
      <hr />
      <nav>
        <a href="">Feedback</a>
        <a href="">Privacy</a>
        <a href="">ToS</a>
        <a href="">Help</a>
      </nav>
    </div>
  </body>
</html>
