<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlutterTalk | Profile</title>
    <link
      rel="preload"
      href="{{ url_for('static', filename='profilepage.css') }}"
      as="style"
      onload="this.onload=null;
      this.rel='stylesheet'"
    />
<body>
  <main>
    {% if user is defined and user != None %}
      <h2>Hello {{ user.displayName }}</h2>
      <form action="/saveProfile" method="POST" enctype="multipart/form-data" id="profile-form">
        <div id="pfp-container">
          {{ form.pfp.label(class="form-label") }}
          <img src="{{ user.pfp }}"" alt="profile picture" id="pfp-preview">
          {{ form.pfp(id="pfp-input", value=user.pfp) }}
        </div>

        <div class="input-container">
          {{ form.name.label(class="form-label") }}
          {{ form.name(class="form-control username-input", value=user.displayName) }}
        </div>

        <div class="input-container">
          {{ form.accountname.label(class="form-label") }}
          {{ form.accountname(class="form-control", id="accountname-input", value=user.accountName) }}
        </div>

        <div class="input-container">
          {{ form.location.label(class="form-label") }}
          {% if user.location %}
            {% set location=user.location %}
          {% else %}
            {% set location="" %}
          {% endif %}
          {{ form.location(class="form-control", id="location-input", value=location) }}
        </div>

        <div class="input-container">
          {{ form.bio.label(class="form-label") }}
          {{ form.bio(class="form-control text_area", id="bio-area", value=user.bio) }}
        </div>

        <div class="input-container">
          {{ form.banner_color.label(class="form-label", id="banner_color_label") }}
          {{ form.banner_color(class="form-control", id="banner_color", value=user.banner_color) }}
        </div>

        {{ form.savebutton(class="btn btn-primary save-button") }}
      </form>
    {% else %}
      <h2>Please {{ action|lower }}</h2>
      <form id="login-form" method="post" action="/{{ action }}">
        <div class="input-container">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="name" class="form-control username-input">
        </div>
        <div class="input-container">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password-input" class="form-control">
          <span class="show-password-container">
            <input type="checkbox" id="show-password" class="show-password form-check-input" onclick="showPassword()">
            <label for="show-password" class="show-password-label">Show Password</label>
          </span>
        </div>
        {% if action|lower != "register" %}
          <a id="register-link" href="/profile/register">No account? Register <u>here</u></a>
        {% endif %}
        <button type="submit" class="btn btn-primary save-button">{{ action|lower }}</button>
      </form>
    {% endif %}
  </main>
</body>
</html>